/.idea/.gitignore
dataSources.local.xml
dataSources.xml
fb4503a2-10ca-414f-9377-a638e3e275a3.xml
7450bbf7-5552-4ed0-8cdd-6aaaa2e33ffd.xml
encodings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/scores.iml
/.idea/sqldialects.xml
/.idea/vcs.xml
/vendor/
